@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 219, 234, 254;  /* Light blue color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;  /* Keep text dark */
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 219, 234, 254;  /* Same light blue for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;  /* Ensure gradient covers full viewport height */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
